<div class="control info-control" ng-show="vm.info.visible">
    <div class="control-section">
        <div class="control-title">
            <span>Minute</span> <a target="_blank" href="{{vm.info.minute.url}}">{{vm.info.minute.name}}</a>
        </div>
        <div class="control-content">
            <div class="info-field">
                <div>Description</div>
                <div>{{vm.info.minute.description}}</div>
            </div>
        </div>
    </div>
    <div class="control-section">
        <div class="control-title">
            <span>Location</span> {{vm.info.location.name}}
        </div>
        <div class="control-content">
            <div class="info-field">
                <div>Why here?</div>
                <div>{{vm.info.location.whyHere}}</div>
            </div>
        </div>
        <div class="control-content">
            <div class="info-field">
                <div>Location</div>
                <div>{{vm.info.location.city}}, {{vm.info.location.province}}</div>
            </div>
        </div>
        <div class="control-content" ng-show="vm.info.location.dateCompleted">
            <div class="info-field">
                <div>Date Completed</div>
                <div>{{vm.info.location.dateCompleted | date:'longDate'}}</div>
            </div>
        </div>
    </div>
    <div class="control-close"><a ng-click="vm.closeInfo()">close</a></div>
</div>