<div class="control message-control" ng-hide="message.hidden">
    <div class="control-title">
        <span>How hard could it be?!</span>
    </div>
    <div class="control-content">
        <p>A silly idea that spiralled out of control - how hard would it be to visit a place in Canada for every single Heritage Minute? This turned into some brainstorming, which turned into a list, which turned into - well, now we're here. Really a *series* a roadtrips (time and money are limiting factors, as always) these are the museums, plaques, graves, and historical sites we'll visit to complete our goal.</p>
        <p>Intrigued by our hardcore history nerd expliots? The details are here, with more fun and adventure on Twitter and Instagram!</p>
    </div>
    <div class="control-close"><a ng-click="closeMessage()">close</a></div>
</div>