html {
    font-family: 'Roboto', sans-serif;
}

md-toolbar {
    font-family: 'Rubik', sans-serif;
}

md-toolbar h1 {
    font-size: 32px !important;
}

md-toolbar .md-button {
    font-size: 22px !important;
}

#map {
    height: 100%;
}

.marker-cluster-small,
        .marker-cluster-medium,
        .marker-cluster-large {
	background-color: rgba(51, 102, 255, 0.5);
}

.marker-cluster-small div,
        .marker-cluster-medium div,
        .marker-cluster-large div {
	background-color: rgba(51, 102, 255, 0.4);
}

.tooltip {
    font-size: 14px;
}

.tooltip-row :first-child {
    font-weight: bold;
    margin-right: 5px;
}

.control {
    width: 350px;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),
        0 1px 1px 0 rgba(0,0,0,.14),
        0 2px 1px -1px rgba(0,0,0,.12);
    padding: 15px;
    max-height: 700px;
    transition: max-height 0.4s ease-in-out;
    overflow-y: hidden;
}

.control a {
    text-decoration: none;
}

.message-control.ng-hide {
    max-height: 0;
}

.control-title {
    font-size: 18px;
}

.control-title :first-child {
    font-weight: bold;
}

.control-section {
    margin-bottom: 10px;
}

.control-content {
    font-size: 15px;
}

.control-close {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

.control-close a {
    cursor: pointer;
}

.info-control.ng-hide {
    max-height: 0;
}

.info-field :first-child {
    font-weight: bold;
}

md-sidenav {
    z-index: 1005;
}

.leaflet-control-zoom {
    border: none !important;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),
        0 1px 1px 0 rgba(0,0,0,.14),
        0 2px 1px -1px rgba(0,0,0,.12)  !important;
}

.leaflet-bar a:first-child {
    border-radius: 0 !important;
}

.leaflet-bar a:last-child {
    border-radius: 0 !important;
}

.reset-zoom-control {
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),
            0 1px 1px 0 rgba(0,0,0,.14),
            0 2px 1px -1px rgba(0,0,0,.12);
    width: 30px;
    height: 29px;
    padding-top: 1px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}