html {
    font-family: 'Roboto', sans-serif;
}

md-toolbar {
    font-family: 'Rubik', sans-serif;
}

md-toolbar h1 {
    font-size: 32px !important;
}

md-toolbar .md-button {
    font-size: 22px !important;
}

#map {
    height: 100%;
}